///////////------------------------------------------
img.image {
    width: 342px;
    height: 329px;
    border-radius: 215px;
}
.mainDiv {
    text-align-last: center;
    margin-top: 10%;
    margin-bottom: 14%;
}

input.ChooseImage {
    margin-left: -10%;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    background: cadetblue;
    color: aliceblue;
}

label {
    display: inline;
    margin-bottom: 0.5rem;
}

input#imagesUploadId {
    padding-right: 76px;
    text-align-last: justify;
}

div#form {
    text-align: -webkit-center;
}

span.toggleButton {
    width: 65px;
    position: relative;
    left: 215px;
    top: -41px;
}
.make-true {
    display: none;
}

.do-true {
    display: none;
}
.xx {
    position: relative;
    left: 215px;
    top: 47px;
}

@import "https://fonts.googleapis.com/css?family=Open+Sans:300";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.avatar-upload {
    position: relative;
    // max-width: 205px;
    // margin: 50px auto;
    .avatar-edit {
        position: absolute;
        // right: 12px;
        z-index: 1;
        // top: 10px;
        input {
            display: none;
            + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #ffffff;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all 0.2s ease-in-out;

                position: relative;
                bottom: 9px;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f040";
                    font-family: "FontAwesome";
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
}
.hiii {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    width: 35%;
}

#imgAndBtn {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.edit_container2 {
    font-family: arial;
    // position: relative;
    cursor: pointer;
    position: absolute;
    // width: 30px;

    // .photoIcon {
    //     &:hover {
    //         background-color: crimson;
    //     }
    // }
    label.inputImagelabel {
        position: relative;
        right: 33px;
        z-index: 99999;
        width: 34px;
        height: 30px;
        cursor: pointer;
        // border: solid red;
    }
    .uploadButton{
        display: none;
    }
    img {
        width: 17px;
        position: absolute;
        top: 6px;
        left: 6px;
    }
    .left_circle {
        float: left;
        height: 29px;
        width: 15px;
        background: #1381b3;
        border-radius: 15px 0 0 15px;
        display: block;
    }
    &:hover .left_circle {
        background: green;
    }
    &:hover .right_circle {
        background: green;
    }
    .right_circle {
        background: #1381b3;
        height: 29px;
        width: 15px;
        border-radius: 0 15px 15px 0;
        display: block;
        float: left;
    }
}
