@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

p{
    font-family: 'Roboto Condensed', sans-serif;
  }
  h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Condensed', sans-serif;
  }

  div{
    font-family: 'Roboto Condensed', sans-serif;
  }

.aboutUsDiv{
    max-width: 940px;
    margin: auto;
    overflow: hidden;
}

.ourTeamHeader {
    font-size: 30px;
    display: flex;
    font-weight: bold;
    color: #416760;
    margin-top: 3%;
    justify-content: center;
}

.profileMemberPhoto {
    height: 188px;
    width: 120px;
    align-items: left;
    width: 193px;
    align-items: left;
    border: 3px solid #416760;
    border-radius: 108px;
    margin: 26% auto auto auto
}
.major{
    
    font-weight: bold;
}
.author{
   
    font-weight: bold;
}



.mySlides {
    padding: 80px;
    text-align: center;
    padding-top: 5px;
    color:#416760 ;
}

.parConec{
    width: 78%;
    margin: auto auto auto 3%;
    padding: 5% 0;
    // q.teamParagr {
    //     // width: 893px;
    //     // margin: auto auto auto 3%;
    // }
    
    .div2{
        margin: 5% 0 0 0;
        a{
            text-decoration: none;
        }
    }
}


polygon {
    fill: #416760;
}
p.author {
    margin-bottom: 0%;
    margin-top: 4%;
}

.slider {
    position: relative;
    width: 100%;
    height: 431px;
    overflow: hidden;
}
.alldiv {
    display: flex;
    
}

.two {
    width: 189px;
    height: 241px;
    background: linear-gradient(-66deg, #a7585800 49%, #416760 50%, #fdfdfd00 51%);
}

.iconTeam {
    display: flex;
}