@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

img.homeImg {
    background-size: cover;
    width: 100%;
    max-height: 80%;
}

.box{
    position: relative;
    display: inline-block; 
}
.box .text{
    color: antiquewhite;
    font-family: 'Caveat', cursive;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; 
    text-align: center;
    width: 60%; 
    animation: moving 3s forwards ease-in-out; 
   
}
h1.title {
    font-size: 503%;
}

img.secend {
    position: absolute;
    top: 94px;
    right: 0;
    margin: 0;
    padding: 0;
    right: 179px;
    width: 79%;
    // transform: rotate(var(--rotation));
    animation: rotation 60s infinite linear;
}


img.min {
    position: absolute;
    top: 94px;
    right: 0;
    margin: 0;
    padding: 0;
    right: 179px;
    width: 79%;
    animation: rotation 3600s infinite linear;
}

img.hour {
    position: absolute;
    top: 94px;
    right: 0;
    margin: 0;
    padding: 0;
    right: 179px;
    width: 79%;
    animation: rotation 216000s infinite linear;
}
   .man {
    position: absolute;
    top: 64px;
    right: 0;
    margin: 0;
    padding: 0;
    right: 157px;
    width: 81%;
}

// .number {
//     // --rotation: 0;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     text-align: center;
//     // transform: rotate(var(--rotation));
//     font-size: 1.5rem;
//     top: 0px;
// }
.hand {
    --rotation: 0;
    // position: absolute;
    // bottom: 50%;
    // left: 50%;
    // border: 1px solid white;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
    transform-origin: bottom;
    // z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}
.number1 { --rotation: 119deg; }
.number2 { --rotation: 144deg; }
.number3 { --rotation: 172deg; }
.number4 { --rotation: 200deg; }
.number5 { --rotation: 225deg; }
.number6 { --rotation: 255deg; }
.number7 { --rotation: 285deg; }
.number8 { --rotation: 315deg; }
.number9 { --rotation: 345deg; }
.number10 { --rotation: 379deg; }
.number11 { --rotation: 410deg; }
.number12 { --rotation: 443deg; }


@keyframes moving {
    from {top: 0px;}
    to {top: 250px;}
}
@-webkit-keyframes moving {
       from {top: 0px;}
    to {top: 250px;}
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(-345deg);
}
// to {
//     -webkit-transform: rotate();
// }
}
