.generalOver {
  padding-left: 20%;
  svg {
    width: 100%;
  }
  .turn1-1 {
    fill: #4a9998;
  }

  .turn2-2 {
    fill: #4a9998;
  }

  .turn3-3 {
    fill: #4a9998;
  }
  .hi11 > text.sub-text {
    display: block;
  }

  .hi11 > text.sub-mission {
    display: block;
  }

  .hi22 > text.sub-text {
    display: block;
  }

  .hi22 > text.sub-mission {
    display: block;
  }

  .hi33 > text.sub-text {
    display: block;
  }

  .hi33 > text.sub-mission {
    display: block;
  }


  svg path:hover {
    transition-duration: 1.5s;
    fill: #4a9998;
  }

  text {
    display: none;
    fill: #fff;
    font-size: 3em;
    font-family: arial;
    pointer-events: none;
  }

  text.sub-mission {
    display: none;
    fill: #fff;
    font-size: 0.9em;
    font-family: arial;
    pointer-events: none;
  }

  text.sub-text {
    display: none;
    fill: #fff;
    font-size: 1.2em;
    font-family: arial;
    pointer-events: none;
  }

  g > text {
    display: block;
  }

  g:hover > text {
    display: block;
  }
}
