footer.footer {
   border-top: 4px solid #416760;
   background-color:#416760 ;
   position: relative;
}
.div1 a.faceBook{
color: #c9c9c9;
padding: 14%;
}  

.div1 a.faceBook:hover{
  color: white;
  transition: all 2s ease;
-webkit-transition: all 1s ease;
}

.div1 {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

p.right {
  text-align: center;
  color: #c9c9c9;
}
.emailAndNumber {
  display: flex;
  color: #c9c9c9;
 
}

p.contactIn {
  color: #c9c9c9;
}

p.follow {
  color: #c9c9c9;
  display: flex;
  justify-content: left;
  margin: 1% 1% -44% -135%;
}

.fott {
  display: flex;
}
.followUs {
  margin: 4% auto auto 61%;
}
.contactUs {
  margin: 1% auto 2% 3%;
}
p.body {
  margin-left: 9px;
  cursor: pointer;
  &:hover{
    color: white;
  }
}

img.logoFooter {
  /* height: 300px; */
  width: 180px;
  align-items: center;
  margin: auto;
  display: flex;
  margin-bottom: -2%;
  margin-top: -141px;
  
}