footer.footer {
   border-top: 4px solid #416760;
}

a.linkedIn {
    margin: 3% 1% 2% 7%;
    &:hover path {
        fill: #007bff;
      }
     g {
        fill: #fff;
      }
}

a:visited path{
    fill: #FFFFFF;
  }
//   a:hover path {
//     fill: #ffffff;
//   }
  a:active path {
    fill: #fff;
  }