footer.footer {
   border-top: 4px solid #416760;
   background-color:#416760 ;
   height: 168px;
}
.div1 a.faceBook{
color: #bebebe;
padding: 1%;
}  

.div1 a.faceBook:hover{
  color: white;
  transition: all 2s ease;
-webkit-transition: all 2s ease;
}

.div1 {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

p.right {
  text-align: center;
  color: white;
}