// body {
//   font-family: "Nunito";
// }

#room-data {
  // float: left;
  width: 70%;
  height: 100%;
  .addToFav-false{
    color: red;
    cursor: pointer;
  }
  .addToFav-true{
    color: green;
    cursor: pointer;
  }
}

