#room-data {
    width: 100%;
    height: 100%;
    margin-top: 26px;
    // margin: auto;
    .addToFav-true {
        margin-top: 42px;
    }
    .addToFav-false {
        margin-top: 42px;
    }

    span.addToFav-null {
        margin-top: 42px;
    }
    // h2#roon-name {
    //     color: #E5F64A;
    //     font-size: 252%;
    //     text-transform: uppercase;
    //     line-height: 1.4;
    // }
}

.buttonsHeaderRoom {
    display: flex;
    .roomHeaderButtonStyle {
        cursor: pointer;
        background: #7ea19b;
        padding: 15px 32px;
        border: 1px solid #ffffff;
        color: #ffffff;
        margin: 10px 17px 10px 0;
        width: 18%;
        font-size: 23px;
        font-weight: 611;
        border-radius: 4px;
        &:focus {
            outline: none;
            // border: none;
        }
        &:hover {
            background: #e5f64a;
        }
        .loveButton {
            width: 28px;
            margin-left: 3px;
        }
        svg {
            margin-left: 5px;
        }
    }
}
.slideThree {
    width: 164px;
    height: 26px;
    background: #416760;
    margin: 36px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    &:after {
        content: "Favorite!";
        color: white;
        position: absolute;
        right: 10px;
        z-index: 0;
        font: 12px/26px Arial, sans-serif;
        font-weight: bold;
        text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
    }
    &:before {
        content: "!favorite";
        color: white;
        position: absolute;
        left: 10px;
        z-index: 0;
        font: 12px/26px Arial, sans-serif;
        font-weight: bold;
    }
    label {
        display: block;
        width: 78px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        top: 3px;
        left: 3px;
        z-index: 1;
        background: #fcfff4;
        background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        border-radius: 50px;
        transition: all 0.4s ease;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    }
    input[type="checkbox"] {
        visibility: hidden;
        &:checked + label {
            left: 84px;
            width: 77px;
        }
    }
}

/* end .slideThree */

.quwsHead {
    display: flex;
    // justify-content: space-evenly;
    // justify-content: left;
    justify-content: space-between;
    align-items: center;
}

.roomDataFor {
    color: #a2abab;
    justify-content: center;
    margin-top: 3%;
}

h2.courseName {
    margin-bottom: 1%;
    // margin-left: 1%;
    padding: 1% 0;
    color: #fff;
    border-bottom: solid 1px #dcdcdc;
}

p.Discription {
    font-size: 119%;
    font-weight: 100;
    line-height: 1.4;
    width: 78%;
    color: white;
}

p.CreatedByOn {
    margin-left: 1%;
}
p.Topic {
    margin-left: 1%;
}
// .courseData {
//     margin-bottom: 5%;
// }

.QAData .questionDiv {
    border: solid #c7c8c7 1px;
    width: 100%;
    margin: auto;
    margin-bottom: 3%;
    position: relative;
    padding: 2%;
}

div.questionAsked {
    margin-top: -40px;
    // position: absolute;
    left: 72px;
    font-size: 163%;
    color: #416760;
    text-transform: capitalize;
}

.time.and.creater {
    color: #a2abab;
    position: relative;
}

p.nameOfWhoQues {
    position: relative;
    color: #416760;
    font-size: 148%;
    text-transform: capitalize;
}

p.createdTimeQues {
    position: relative;
    bottom: 33px;
    left: 69px;
    font-size: 80%;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.numberOfAnswer {
    color: #333333;
    font-size: 117%;
    margin: 1% 1% 3% 1%;
    display: flex;
    flex-direction: column;
}

p.checAns {
    // margin-left: 2px;
    color: #416760;
    width: 100%;
    position: relative;
    // left: 72px;

    /* margin-left: 2px; */
    // color: #416760;
    // width: 80%;
    // position: relative;
    // /* left: 72px; */
    // margin: auto;
    .answers-false{
        display: none;
    }

    .answers-true {
        position: relative;
        width: 100%;
        .deleteAnswer {
            position: absolute;
            right: 43px;
            color: red;
            cursor: pointer;
            top: -10px;
        }
        .answerALL {
            display: flex;
            align-items: center;
            position: relative;

            li {
                width: 78%;
                background-color: #7ea19b;
                padding: 2%;
                border-radius: 14px;

                span.nameOfWhoAnswer {
                    color: #e5f64a;
                    font-size: 135%;
                    font-weight: 600;
                    // position: absolute;
                    // right: 75%;
                    /* top: 9px;*/
                }
                span.answersOfWhoAnswer {
                    color: white;
                    font-size: 99%;
                    /* position: absolute; */
                    margin-left: 11px;
                }
            }
        }

    }
    .answerImg {
        width: 50px;
        height: 49px;
        border-radius: 59px;
        margin-right: 10px;
        margin-top: 1px;
    }
    form {
        width: 89%;
        margin: auto;
        position: relative;
        // left: 61px;
    }
}

form.addQuesForm {
    /* margin: auto; */
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}
input.addQuesFor {
    padding: 2%;
    width: 70%;
    border: solid 2px #7da09a;
    &:focus {
        outline: none;
    }
}
.addAnswer {
    padding: 2%;
    width: 70%;
    border: solid 2px #7da09a;
    &:focus {
        outline: none;
    }
}
// button.iconbutton {
//     margin-left: -3%;
// }
button.addQuesForButt {
    width: 12%;
    background-color: #7ea19b;
    border: none;
    height: 47px;
    color: white;
    margin-top: 1%;
    border-radius: 5px;
    margin-left: 8px;
    cursor: pointer;
    font-size: 88%;
    font-weight: bold;
    transition-duration: 1.2s;
    &:hover {
        background-color: white;
        color: #416760;
        border: solid 1px #416760;
    }
    &:focus {
        outline: none;
    }
}

.formAnswerQuestion {
    display: flex;
    margin-top: 4%;
    // .inputLabel {
    // }
}

button.deleteRoom {
    width: 10%;
    // margin-top: 69px;
    border-radius: 5px;
    border: none;
    background-color: #416760;
    padding: 1%;
    color: #e5f64a;
    &:focus {
        outline: none;
    }
}
#room-data h2#roon-name {
    color: #e5f64a;
    font-size: 252%;
    text-transform: uppercase;
    line-height: 1.4;
}

.bodyDiv {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.roomData {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 91px;
}

.chatSet {
    position: relative;
    width: 29%;
}

.TakeQuizAndToto {
    border: none;
    margin-bottom: 2%;
    padding: 5%;
    color: #e5f64a;
    background-color: #7ea19b;
    border-radius: 6px;
    margin-right: 1%;
    margin-left: 8%;
    border: solid 1px #7ea19b;
    transition-duration: 1.2s;
    width: 100px;
    margin-top: 50%;
    &:hover {
        background-color: white;
        color: #416760;
        border: solid 1px #416760;
    }
    &:focus {
        outline: none;
    }
}

a.TakeQuizAndTotoButt {
    margin: auto;
    display: flex;
    justify-content: center;
}
.buttonRoom {
    /* display: flex; */
    text-align: center;
    position: sticky;
    /* left: -138%; */
    /* bottom: 48%; */
    top: 0;
}
.quesHeader {
    // display: flex;
    width: 100%;
    // background-color: #416760;
    // padding: 1%;
    // justify-content: start;
    // margin: auto;
    // position: relative;
    // justify-content: center;
    position: relative;
    margin-bottom: 35px;
}
.bin-container {
    position: absolute;
    height: 35px;
    width: 20px;
    // top: 50%;
    // left: 50%;
    /*   margin-left: -6px; */
    /*   margin-top: -8px; */
    /*   border:solid red; */
    right: 16px;
    top: 16px;
    cursor: pointer;
}

.bin-bg {
    background: url(https://lh3.googleusercontent.com/-e5PdZz3Dvd0/VwtknY7W84I/AAAAAAAAJRs/2t3XhAIjxewZ4atbg5TAaaXg_ZWu-W6XwCCo/s172-Ic42/bin.png)
        no-repeat;
    background-size: 20px;

    border: 1px solid transparent;
    // background: rgba(100, 100, 100, 0.49);
    opacity: 1.5;
    color: rosybrown;
    &:before {
        content: "";
        position: fixed;
        z-index: -1;
        // top: 0;
        // left: 0;
        // background: #c0392b; /* IE Fallback */
        // background: rgba(52, 73, 94, 0.8);
        background: rgba(181, 186, 191, 0.8);
        // background: rgba(181, 186, 191, 0.45);
        width: 100%;
        height: 100%;
    }
}

.bin-bg.full {
    position: absolute;
    height: 35px;
    bottom: -80;
    left: 0;
    right: 0;
    background-position: 0 -5px;
}

.bin-bg.lid {
    position: absolute;
    height: 3px;
    top: -3px;
    left: 0;
    right: 0;
    background-position: 0 -1px;

    transition: 0.2s all ease-in-out;
    transform-origin: left;
}

.bin-container:hover .bin-bg.lid {
    transform: rotateZ(-8deg) translate(8px, 1px);
}

aside.quiaAndTutorial {
    width: -19%;
    /* position: fixed; */
    /* left: 254%; */
    right: 92%;
    bottom: 48%;
    width: 13%;
}

.containerRoom {
    width: 100%;
    background-color: #7ea19b;
    padding: 0 52px;
}

.QA-Component {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

.just-QA {
    width: 68%;
    /* margin-left: -29%; */

    display: flex;
    flex-direction: column;
}

img.imgOfWhoQues {
    width: 50px;
    height: 49px;
    border-radius: 59px;
    margin-right: 10px;
    margin-top: 1px;
}

.imgAndName {
    display: flex;
    padding: 10px;
}

hr.magic {
    position: relative;
    /* color: red; */
    /* background: #da125c; */
    bottom: 35px;
    width: 94%;
}

span.answerLength {
    position: absolute;
    top: 80px;
    right: 28px;
    font-size: 68%;
    cursor: pointer;
}

.svgR {
    outline: none;
}

.iconbutton {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0 50px;
    outline: none;
    position: absolute;
    top: 10px;
    /* left: 662px; */
    right: 0;
    svg {
        transition: 200ms all;
        outline: none;
    }

    &.poof {
        position: relative;
        outline: none;

        svg {
            opacity: 0.01;
            outline: none;
        }

        &:after {
            position: absolute;
            left: 0;
            bottom: 5px;
            right: 0;
            content: "";
            background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/8585/poof.png) no-repeat 0 0;
            animation: poof 500ms 1;
            animation-fill-mode: forwards;
            background-size: 128px 640px;
            outline: none;
        }
    }

    $size: 20px;
    $sizem: 35px;
    $sizexl: 50px;

    svg {
        width: $size;
        outline: none;
    }
    &.poof:after {
        height: $size;
        background-size: $size (640 * ($size/128));
        outline: none;
    }

    &.medium {
        svg {
            width: $sizem;
        }
        outline: none;
        &:after {
            height: $sizem;
            background-size: $sizem (640 * ($sizem/128));
            outline: none;
        }
    }

    &.large {
        svg {
            width: $sizexl;
        }
        &:after {
            height: $sizexl;
            background-size: $sizexl (640 * ($sizexl/128));
        }
    }
}
svg.delete-animation {
    fill: red;
    outline: none;
    .lid {
        transform-origin: 2px 5px;
        transition: 500ms all;
        outline: none;
    }
    .can {
        transition: 500ms all;
        outline: none;
    }
    &:hover {
        fill: yellow;
        outline: none;
        .lid {
            transform: rotate(-30deg);
            outline: none;
        }
    }
    &:active .lid {
        transform: rotate(-50deg);
        outline: none;
    }
    &:focus {
        outline: none;
    }
}

@keyframes poof {
    0% {
        background-position: 0 0;
    }
    20% {
        background-position: 0 0;
    }
    21% {
        background-position: 0 25%;
    }
    40% {
        background-position: 0 25%;
    }
    41% {
        background-position: 0 50%;
    }
    60% {
        background-position: 0 50%;
    }
    61% {
        background-position: 0 75%;
    }
    80% {
        background-position: 0 75%;
    }
    81% {
        background-position: 0 100%;
    }
    99% {
        background-position: 0 100%;
    }
    100% {
        background-position: 0 200%;
    }
}
