@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');


.search-bar{
    position: relative;
    min-height: 100px;
    .search-container {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      
      .search {
     
          position: absolute;
          margin: auto;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 50px;
          height: 50px;
          background: #7da09a;
          border-radius: 87%;
          transition: all 1s;
          z-index: 4;
          // box-shadow: 1px 0 9px 0 rgba(0, 0, 0, 0.4);
      
        // box-shadow: 0 0 25px 0 crimson;
        &:hover {
          cursor: pointer;
        }
        &::before {
          content: "";
          position: absolute;
          margin: auto;
          top: 22px;
          right: 0;
          bottom: 0;
          left: 22px;
          width: 12px;
          height: 2px;
          background: white;
          transform: rotate(45deg);
          transition: all .5s;
        }
        &::after {
          content: "";
          position: absolute;
          margin: auto;
          top: -5px;
          right: 0;
          bottom: 0;
          left: -5px;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          border: 2px solid white;
          transition: all .5s;
        }
      }
      input {
        font-family: 'Inconsolata', monospace;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 40px;
        height: 40px;
        outline: none;
        border: none;
        background: #7da09a;
        color: white;
        // text-shadow: 0 0 3px #a5a5a5;
        padding: 0 80px 0 20px;
        border-radius: 30px;
        // box-shadow: 0 5px 5px 0 #7da09a, 0 5px 5px 0 rgba(0, 0, 0, 0.2);
        transition: all 1s;
        opacity: 0;
        z-index: 5;
        font-weight: bolder;
        letter-spacing: 0.1em;
        &:hover {
          cursor: pointer;
        }
        &:focus {
          width: 300px;
          opacity: 1;
          cursor: text;
        }
        &:focus ~ .search {
          right: -250px;
          background: #7da09a;
          z-index: 6;
          &::before {
            top: 0;
            left: 0;
            width: 25px;
          }
          &::after {
            top: 0;
            left: 0;
            width: 25px;
            height: 2px;
            border: none;
            background: #ffffff;
            border-radius: 0%;
            transform: rotate(-45deg);
          }
        }
        &::placeholder {
          color: #ffffff;
          opacity: 0.5;
          font-weight: bolder;
        }
      }
    }
    
}

.btn-primary{
  border: none;
}

// .createRoomButt{
//   margin: 1% 1% -69% -54%;
//   border: none;
//   border-radius: 5px;
// }
.favRooms{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.allRooms{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // button{
    //   width: 20%;
    //   margin: 2%;
    // }
}
a.createRoom {
  position: absolute;
  top: 11%;
  left: 4%;
  z-index: 10;
}
//////////////////////////////////////////////////////////////////////////////
/* CSS reset */
.card-area-div{
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}




/* Typography =======================*/

/* Headings */

/* Main heading for card's front cover */
.card-front__heading {
  // font-size: 1.5rem;
  margin-top: .25rem;
}

/* Main heading for inside page */
.inside-page__heading { 
  padding-bottom: 1rem; 
  width: 100%;
}

/* Mixed */

/* For both inside page's main heading and 'view me' text on card front cover */
.inside-page__heading,
.card-front__text-view {
  text-transform: uppercase;
}

.inside-page__heading--city,
.card-front__text-view--city { color: #416760; }

.inside-page__heading--ski,
.card-front__text-view--ski { color: #416760; }

.inside-page__heading--beach,
.card-front__text-view--beach { color: #416760; }

.inside-page__heading--camping,
.card-front__text-view--camping { color: #416760; }

/* Front cover */

.card-front__tp { color: #fafbfa; }

/* For pricing text on card front cover */
.card-front__text-price {
  font-size: 1.2rem;
  margin-top: -.2rem;
}

/* Back cover */

/* For inside page's body text */
.inside-page__text {
  color: #333;
}

/* Icons ===========================================*/

.card-front__icon {
  fill: #fafbfa;
  font-size: 3vw;
  height: 3.25rem;
  margin-top: -.5rem;
  width: 3.25rem;
}

/* Buttons =================================================*/

.inside-page__btn {
  background-color: transparent;
  border: 3px solid;
  border-radius: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
  overflow: hidden;
  padding: .7rem .75rem;
  position: relative;
  text-decoration: none;
  transition: all 2s ease;
  // width: 90%;
  z-index: 10;
}

.inside-page__btn::before { 
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleY(0);
  transition: all 1s ease;
  width: 100%;
  z-index: -1;
}

.inside-page__btn--city { 
  border-color: #416760;
  color: #416760;
  cursor: pointer;
  width: 100%;


}

.inside-page__btn--city::before { 
  background-color: #416760;
}

.inside-page__btn--ski { 
  border-color: #416760;
  color: #416760;
  cursor: pointer;
  width: 100%;

}

.inside-page__btn--ski::before { 
  background-color: #416760;
}

.inside-page__btn--beach { 
  border-color: #416760;
  color: #416760;
  cursor: pointer;
  width: 100%;

}

.inside-page__btn--beach::before { 
  background-color: #416760;
}

.inside-page__btn--camping { 
  border-color: #416760;
  color: #416760;
  cursor: pointer;
  width: 100%;

}

.inside-page__btn--camping::before { 
  background-color: #416760;
}

.inside-page__btn:hover { 
  color: #fafbfa;
}

.inside-page__btn:hover::before { 
  transform: scaleY(1);
}

/* Layout Structure=========================================*/

.main {
  background: linear-gradient(
    to bottom right,
    #eee8dd,
    #e3d9c6
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

/* Container to hold all cards in one place */
.card-area {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}

/* Card ============================================*/

/* Area to hold an individual card */
.card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* A container to hold the flip card and the inside page */
.card {
  background-color: rgba(0,0,0, .05);
  box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
  height: 15rem;
  position: relative;
  transition: all 2s ease;
  width: 15rem;
}

.my-rooms{
  background-color: rgba(0,0,0, .05);
  box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
  height: 15rem;
  position: relative;
  transition: all 2s ease;
  width: 15rem;

}

/* Flip card - covering both the front and inside front page */

/* An outer container to hold the flip card. This excludes the inside page */
.flip-card {
  height: 15rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 2s ease;
  visibility: hidden;
  width: 15rem;
  z-index: 100;
}

/* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
/* This is done so content in the inside page can be selected */
.flip-card > * {
  visibility: visible;
}

/* An inner container to hold the flip card. This excludes the inside page */
.flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 2s ease;
  width: 100%;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  // position: relative;
}

/* Styling for the front side of the flip card */

/* container for the front side */
.card-front {
  background-color: #fafbfa;
  height: 15rem;
  width: 15rem;
}

/* Front side's top section */
.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: .75rem;
}

.card-front__tp--city {
  background: linear-gradient(
    to bottom,
    #ff73b9,
    #ff40a1
  );
}

.card-front__tp--ski {
  background: linear-gradient(
    to bottom,
    #47c2d7,
    #279eb2
  );
}

.card-front__tp--beach {
  // background: linear-gradient(
  //   to bottom,
  //   #fb9b88,
  //   #f86647
  // );
}

.card-front__tp--camping {
  background: linear-gradient(
    to bottom,
    #00db93,
    #00b97d
  );
}

/* Front card's bottom section */
.card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Styling for the back side of the flip card */

.card-back {
  background-color: #fafbfa;
  transform: rotateY(180deg);
  margin-top: -1px;

  .slide {
    width: 100%;
    height: 382px;
    overflow: hidden;}
  
  
    .bg-bubbles {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: whitesmoke;
      z-index: 1;
      overflow: hidden;
  
      li {
          position: absolute;
          list-style: none;
          display: block;
          width: 40px;
          height: 40px;
          background-color: #446962b0;
          bottom: -70px;
  
          -webkit-animation: square 25s infinite;
          animation: square 25s infinite;
  
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  
          &:nth-child(1) {
              left: 10%;
          }
  
          &:nth-child(2) {
              left: 20%;
  
              width: 50px;
              height: 50px;
  
              animation-delay: 11s;
              animation-duration: 17s;
          }
  
          &:nth-child(3) {
              left: 25%;
              animation-delay: 13s;
          }
  
          &:nth-child(4) {
              left: 40%;
              width: 30px;
              height: 30px;
  
              animation-duration: 22s;
  
              background-color: #49756263;
          }
  
          &:nth-child(5) {
              left: 70%;
          }
  
          &:nth-child(6) {
              left: 50%;
              width: 32px;
              height: 32px;
  
              animation-delay: 17s;
              background-color: #49756263;
          }
  
          &:nth-child(7) {
              left: 32%;
              width: 27px;
              height: 27px;
  
              animation-delay: 10s;
          }
  
          &:nth-child(8) {
              left: 55%;
              width: 20px;
              height: 20px;
  
              animation-delay: 13s;
              animation-duration: 40s;
          }
  
          &:nth-child(9) {
              left: 25%;
              width: 10px;
              height: 10px;
  
              animation-delay: 14s;
              animation-duration: 40s;
              background-color: #49756263;
          }
  
          &:nth-child(10) {
              left: 60%;
              width: 22px;
              height: 22px;
  
              animation-delay: 16s;
          }
      }
  }
}

/* Specifically targeting the <video> element */
.video__container {
  // clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 69%;
  object-fit: cover;
  width: 100%;
}

/* Inside page */

.inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center; 
  width: 100%;
}

.ccontainer{
  height: 232px;
}

/* Functionality ====================================*/

/* This is to keep the card centered (within its container) when opened */
.card:hover {
  box-shadow:
  -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
  width: 25rem;
}

/* When the card is hovered, the flip card container will rotate */
.card:hover .flip-card__container {
  transform: rotateY(-120deg);
}
.card:hover .rotatee{
  transform: rotateY(-180deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
.card:hover .inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
}

a{
  color: black;
  text-decoration: none;
}

}

.topic{
  text-align: center;
}
.logo{
  text-align: center;
}
.show-more{
  display: flex;
  justify-content: center;
  
}

.svg-lock {
  
  position: absolute;
 
  right: 10px;
}
// .div-width{
//   width:33%
// }

////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 74%;
  top: 100px;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.3rem;
  outline: 0;}

  button.btn.btn-primary {
    cursor: pointer;
      text-align: center;
      margin-left: 40px;
      margin-top: 28px;
  }
  
  .upgradePost{
    display: flex;
    justify-content: center;
    border: 1px solid #80808061;
    margin-top: 24px;
    padding: 1%;
    width: 80%;
    margin: auto;
    margin-top: 1%;
  }

  button.upgradeButton.btn.btn-primary{
  margin-top: -5px;
}



/************************************************************************************************/



/*************************************************************************************************/

@-webkit-keyframes square {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-400px) rotate(600deg);
    }
}
@keyframes square {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-400px) rotate(600deg);
    }
}

button.upgradeButton.btn.btn-primary:hover {
  background-color: #ffffff;
  color:cadetblue;
  border: 1px solid cadetblue;
  box-sizing: border-box;
  &:focus {
    outline: none;
}
}

.allByall{
  text-align-last: center;
     background: url("../../assest/HomeCover.jpg")
    no-repeat center center fixed;
    
    background-size: cover;
    position: sticky;
    padding-bottom: 1%;
    &::before {
        content: "";
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        background: #c0392b;
        background: rgba(52, 73, 94, 0.8);
        background: rgba(181, 186, 191, 0.8);
        width: 100%;
        height: 100%;
    }
}



  
  