@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/** [Vars] *****/

/** [Panels] *****/
$width-panel-static: 80%;
$height-panel-static: 60%;
$background-panel-static: rgba(0, 0, 0, 0.6);
$color-panel-static: #ddd;
$color-panel-heading: #9dbfb5;

$width-panel-sliding: 50%;
$height-panel-sliding: 160%;
$offset-top-panel-sliding: ($height-panel-sliding - 100%) / 2;
$offset-left-panel-sliding: 4%;
$background-panel-sliding: #fefefe;
$shadow-panel-sliding: 3px -2px 6px 0px rgba(0, 0, 0, 0.4);

$padding-panel-content: 3rem;

/** [Buttons] *****/
$margin-button: 1rem 0;
$padding-button: 0.5rem 1.5rem;
$color-button-primary: #fefefe;
$color-button-secondary: #ccc;
$background-button-primary: #9dbfb5;
$background-button-secondary: transparent;
$border-button-secondary: 2px solid #ccc;

/** [Content] *****/
$size-heading: 1.2rem;
$size-copy: 0.7rem;

/** [Base styling] *****/
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// body {
//     background: url(https://images.unsplash.com/photo-1465188035480-cf3a60801ea5?dpr=1.25&auto=format&fit=crop&w=1199&h=1199&q=80&cs=tinysrgb&crop=) no-repeat center center fixed;
//     background-size: cover;
// }

/** [Main Styling] *****/

.panel {
    font-family: 'Montserrat';
    border-radius: 3px;
   
    
    &--static {
        @include center;
        display: flex;
        align-items: center;
        width: $width-panel-static;
        height: $height-panel-static;
        min-height: 300px;
        background: $background-panel-static;
        color: $color-panel-static;
        
        .panel__content {
            padding: $padding-panel-content;
        }
    }
    
    &--sliding {
        position: absolute;
        top: -$offset-top-panel-sliding;
        left: $offset-left-panel-sliding;
        width: $width-panel-sliding;
        height: $height-panel-sliding;
        background: $background-panel-sliding;
        box-shadow: $shadow-panel-sliding;
        
        .panel__content {
            &.logintrue {
                display: none;
            }
            &.signuptrue{
                display: none;
            }
        }
    }
    
    &__heading {
        font-size: $size-heading;
        
        .panel--sliding & {
            color: $color-panel-heading;
            text-transform: uppercase; 
        }
        
    }
    
    &__copy {
        font-size:  $size-copy;
    }
    
    form {
        width: 100%;
        margin-top: 2.5em;
        
        .input {
            width: 100%;
            margin-bottom: 1rem;
            padding: 0.4rem 0.2rem;
            font-size: 0.8rem;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 1px solid #ddd;
            
            &:focus {
                outline: 0;
            }
        }
    }
    
    .btn {
        min-width: 120px;
        margin: $margin-button;
        padding: $padding-button;
        font-size: 0.7rem;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 3px;
        cursor: pointer;
       
        &--primary {
            background: $background-button-primary;
            color: $color-button-primary;
            border: 0;
        }
        
        &--secondary {
            background: $background-button-secondary;
            color: $color-button-secondary;
            border: $border-button-secondary;
        }
        
        &:focus {
            outline: 0;
        }
    }
    
    a,
    a:focus,
    a:visited,
    a:active {
        display: block;
        font-size: 0.7rem;
        text-decoration: none;
        color: #aaa;
    }
}
// .showtrue{
//     display: flex;
// }

// @keyframes mymove {
//     from {left: 0px;}
//     to {left: 200px;}
//   }

.antrue {
    // $offset-left-panel-sliding : 20%;
    left: 46%;
    transition: 0.5s ease-in-out;
    // animation: mymove; 
}

.anfalse {
    // $offset-left-panel-sliding : 20%;
    left: 3%;
    transition: 0.5s ease-in-out;
    // animation: mymove; 
}

.general{
    height: 500px;
    position: relative;
    background-image: url('../../assest/retrosupply-jLwVAUtLOAQ-unsplash.jpg');
    opacity: .7;
    background-size: cover;
    margin-bottom:1%;
    box-shadow: 0px 10px 20px rgba(104, 103, 103, 0.699);
}

a.icons {
    display: inline-block;
    margin: 2px;
}
span {
    display: inline-flex;
    justify-items: left;
}
.btn:hover {
    color: #effffd;
    text-decoration: none;
}

.oAut {
    display: flex;
    justify-content: left;
}

a.oauthIcon {
    margin: auto 0px auto 3%;
}



input.ChooseImage {
    min-width: 120px;
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 3px;
    margin: auto;
}
p.oauthIcon {
    margin: auto 0 auto 2%;
    color: #8bbbbd;
    font-weight: bold;
    font-size: 72%;
}
.btn:not(:disabled):not(.disabled) {
    &:hover{cursor: pointer;
    background: white;
    border: 1px solid cadetblue ;
    color: cadetblue;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;}
}
.panel--static .panel__content {
    padding: 5rem;
}

a.oauthIcon {
    margin: auto auto auto 4%;
}

.errorMsg {
    color: red;
    display: block;
    font-size: 0.7rem;
    text-decoration: none;
}